<% provide(:title, "Log in") %>
<h1 class="text-center my-5">Log in</h1>

<div class="col-md-6 m-5 mx-auto">
  <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control mb-3' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control mb-4' %>

    <%= f.submit "Log in", class: "btn btn-primary mb-2" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>