<% provide(:title, 'Search') %>
<h1>Course Search</h1>

<%#= f.collection_select :provider_id, @subjects, :id, :name, include_blank: true %>

<!--<td><%#= link_to 'Enroll', "/enroll/#{course.id}", class: 'btn btn-primary', method: :post %></td>-->


<!--<%# select("subject", "subject_id", Subject.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>>

<%= form_tag(search_result_path, method: "get") do %>
  <%= label_tag(:subject_search, "Subject:") %>
  <%= collection_select(:subject, :subject_id, Subject.all, :id, :name, prompt: "Select Subject") %>

  <%= label_tag(:course_name_search, "Name:") %>
  <%= text_field_tag(:course_name) %>

  <%= submit_tag("Search", class: 'btn btn-primary') %>
<% end %>

<%= render 'index/index' %>
